

$text-color-default: #606266;

$border-color-default: #dcdee2;
$border-color-hover: #c0c4cc;
$border-color-focus: #409eff;

$color-primary: #409eff;



$upload-picture-width: 70px;
$upload-picture-height: 70px;


$tooltip-fill-color--dark: #000;
$tooltip-border-color--dark: #000;
$tooltip-text-color--dark: #fff; 

$tooltip-fill-color--light: #fff;
$tooltip-border-color--light: #dcdee2;
$tooltip-text-color--light: #000; 